.logo {
  padding: -2px;
  margin: -2px;
  position: absolute;
  font-family: $font-2;
  font-size: 30px;
  color:$redRC;
  user-select: none;

  &:after {
    content: "";
    height: 32px;
    width: 32px;
    border: 1px $redRC solid;
    border-radius: 20%;
    position: absolute;
    top: 2px;
    left: -40px;
    z-index: -1;
  }
}